body {
    font-family: Arial, sans-serif;
    background: #f3f4f6;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
a {
    text-decoration: none;
    color: inherit;
}
.topbar {
    background: #1f2937;
    color: white;
    -webkit-box-shadow: 2px 3px 20px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 2px 3px 20px 0px rgba(66, 68, 90, 1);
    box-shadow: 2px 3px 20px 0px rgba(66, 68, 90, 1);
}
.topbar h1 {
    margin: 0;
    padding: 15px;
    font-size: 20px;
    font-weight: 500;
}

.footer {
    text-align: center;
    background: #e5e7eb;
}



.container {
    padding: 20px;
    flex: 1;
   
}

.container1 {
    padding: 0px;
    flex: 1;
   
}

.login-box {
    max-width: 400px;
    margin: 80px auto;
    background: white;
    padding: 50px;
    border-radius: 6px;
    text-align: center;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 3px 1px rgba(66, 68, 90, 1);

}
.login-box h2 {
    padding-bottom: 30px;
    font-size: 30px;
}

.login-box input {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 16px;
}


.login-box button {
    margin-top: 50px;
    width: 70%;
    margin-bottom: 10px;
    padding: 8px;
}



.register-box {
    max-width: 400px;
    margin: 80px auto;
    background: white;
    padding: 50px;
    border-radius: 6px;
    text-align: center;
    border-radius: 12px;
    -webkit-box-shadow: 0px 0px 3px 1px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 3px 1px rgba(66, 68, 90, 1);

}
.register-box h2 {
    padding-bottom: 30px;
    font-size: 30px;
}

.register-box input {
    width: 90%;
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #d1d5db;
    border-radius: 4px;
    font-size: 16px;
}


.register-box button {
    margin-top: 50px;
    width: 70%;
    margin-bottom: 10px;
    padding: 8px;
}



.linki_pod_logowaniem {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.linki_pod_logowaniem a {
    text-decoration: none;
    color: #1f2937;
    font-size: 14px;
}
.linki_pod_logowaniem a:hover {
    text-decoration: underline;
}


.navigacja{
    display: flex; /* Włącza Flexbox */
    justify-content: space-between; /* Rozsuwa elementy na boki */
    align-items: center; /* Wyśrodkowuje elementy w pionie */
}

.parent {
    height: 100cqh;
    display: grid;
    /* Pierwsza kolumna bierze 3 części, druga 7 części wolnego miejsca */
    grid-template-columns: 1.5fr 8.5fr; 
    grid-template-rows: 1fr;
    gap: 0px;
}

.div1 {
    border-right: #1f2937 1px solid; 
    padding: 30px;
    
}

.profile-container {
        
        max-width: 1200px;
        margin: 20px auto;
        background: white;
        padding: 50px;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    }
    .profile-header {
        border-bottom: 2px solid #f0f0f0;
        margin-bottom: 20px;
        padding-bottom: 10px;
        display: flex;
        align-items: center;
    }
    .profile-header h2 { margin: 0; color: #333; }
    
    .info-grid {
        padding-top: 80px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
    }
    .info-item { margin-bottom: 15px; }
    .info-item label { 
        display: block; 
        font-weight: bold; 
        color: #666; 
        font-size: 0.9rem;
    }
    .info-item span { 
        font-size: 1.1rem; 
        color: #222; 
    }
    .badge {
        background: #e1f5fe;
        color: #0288d1;
        padding: 5px 10px;
        border-radius: 4px;
        font-size: 0.8rem;
    }